body {
  font-family: Helvetica, sans-serif;
}

#main {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  background-color: yellow;
  border: 4px solid black;
  border-radius: 8px;
}


#main * {
  margin-left: 10px;
}

#game-helpers > p > span {
  margin-left: 0px;
}

/* p element's width is the size of it's text */
#game-helpers > p {
  display: inline-block;
}


#question {
  float: none;
}