body {
  font-family: Helvetica, sans-serif;
}



#game-helpers {
  text-align: center;
  margin-bottom: 10px;
}

/* p element's width is the size of it's text */
#game-helpers > p {
  display: inline-block;
  margin: 10px 10px 0px auto;
  font-weight: bold;
}


#question-and-answers {
  margin-left: 10px;
  text-align: center;
}

.answer {
  width: 40%;
  margin: 10px 10px 0px auto;
}

#question > p {
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
}


.jumbotron > * {
  text-align: center;
}

.jumbotron > h1 {
  margin-top: -20px;
  margin-bottom: 25px;
}

.jumbotron > h4 {
  margin-bottom: -20px;
}

.lobster {
  font-family: 'Lobster';
  font-weight: bold;
}

/* makes height of bootstrap class row the height of the remainder of page */
.row {
  height: 100vh
}



